// /**=====================
//     3.39 Landing CSS Start
// ==========================**/
@use "../utils/variables";
.custom-container{
    padding: 0 calc(12px + (195 - 12) * ((100vw - 320px) / (1920 - 320)));
}
.tap-top {
  text-align: center;
  cursor: pointer;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 5;
  color: #fff;
  background: var(--theme-default);
  border: none;
  padding: 7px;
  box-shadow: 0 0 10px var(--theme-default);
  opacity: 0.5;
  transition: all 0.3s ease;

  &:hover {
    transition: all 0.3s ease;
    opacity: 1;
  }

  svg {
    width: 20px;
  }
}

.landing-page{
  section{
    .title{
      text-align: center;
      position: relative;
      margin-bottom: 35px;
      margin-top: -4px;
      a{
        color: variables.$theme-body-font-color;
        font-size: 30px;
        font-weight: 700;
        line-height: 1;
      }
      p{
        font-size: 18px;
        font-weight: 400;
        color: #888888;
      }
    }
  }
  .section-py-space {
    padding-top: 70px;
    padding-bottom: 70px;
    @media (max-width: 1199px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @media (max-width: 991px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    @media (max-width: 767px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  .section-pt-space {
    padding-top: 70px;
  }
  .section-pb-space {
    padding-bottom: 70px;
  }
  .landing-header{
    padding-block: 20px;
    transition: all 0.5s ease-in-out;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    position: fixed;
    background-color: variables.$transparent-color;
    .landing-menu {
      display: flex;
      gap: calc(10px + (40 - 10) * ((100vw - 992px) / (1920 - 992)));
      list-style: none;
      justify-content: center;
      .nav-item {
        position: relative;
        &.menu-back{
          text-align: right;
          padding: 22px 20px;
          border-bottom: 1px solid variables.$table-border-color;
          text-transform: uppercase;
          font-weight: 700;
          color: #1F2F3E;
          font-size: 16px;
          display: none;
          cursor: pointer;
          margin-bottom: 15px;
          i{
            font-size: 16px;
            margin-left: 10px;
          }
        }
      }
      .nav-link {
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        padding: 8px 0;
        position: relative;
        transition: color 0.3s ease;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 7px;
          width: 0%;
          height: 3px;
          background: var(--theme-default);
          border-radius: 10px;
          transition: width 0.3s ease;
          @media (max-width:991px) {
            left: 30px;
          }
          @media (max-width:575px) {
            left: 132px;
          }
        }
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 3px;
          height: 3px;
          background: var(--theme-default);
          border-radius: 50%;
          opacity: 0;
          transform: translateY(4px);
          transition: opacity 0.3s ease, transform 0.3s ease;
          @media (max-width:991px) {
            left: 22px;
          }
          @media (max-width:575px) {
            left: 125px;
          }
        }
        &:hover,
        &.active{
          color: var(--theme-default);
          &::after{
            width: 34px;
          }
          &::before{
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
    .buy-block{
      display: flex;
      align-items: center;
      .toggle-menu{
        margin-left: 20px;
        display: none;
        cursor: pointer;
        i{
          font-size: 24px;
          color: variables.$white;
        }
      }
    }
    &.sticky{
      background-color: variables.$theme-body-font-color;
      transition: all 0.5s ease-in-out;
    }
  }
  .btn-landing{
    border-radius: 10px;
    color: variables.$white;
    // background-color: var(--theme-default);
    background: linear-gradient(90deg, #6aa8ff, #9d87ff);
    opacity: 0.9;
    padding: 12px 30px;
    line-height: 1;
    font-weight: 600;
    display: flex;
    align-items: center;
    @media (max-width: 320px) {
      padding: 8px 20px;
    }
  }
  .landing-home{
    background-image: url(../images/landing/Bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    .fluid-space{
      padding: 0 120px;
    }
    .dashboard-img{
      position: relative;
      top: 125px;
      animation: move2 1.2s infinite alternate;
      img{
        width: 100%;
      }
    }
    .landing-flex{
      padding-top: 96px;
      .content-home{
        text-align: center;
        padding-top: 96px;
        @media (max-width: 320px) {
          padding-top: 0;
        }
      .title-content{
        color: variables.$white;
        position: relative;
        text-transform: uppercase;
        margin-bottom: 50px;
        h1{
          color: variables.$white;
          font-size: calc(24px + (45 - 24) * ((100vw - 320px) / (1920 - 320)));
          font-weight: 800;
          margin-bottom: 9px;
          text-transform: capitalize;
          span{
            background: linear-gradient(90deg, #5aa9ff 0%, #9b7bff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
          }
          @media (max-width: 576px) {
            width: 95%;
            margin: auto;
          }
        }
        p{
          color: variables.$theme-body-sub-title-color;
          font-size: 16px;
          text-transform: capitalize;
          width: 52%;
          margin: auto;
          @media (max-width: 1200px) {
            width: 70%;
          }
          @media (max-width: 768px) {
            width: 85%;
          }
          @media (max-width: 576px) {
            width: 90%;
          }
        }
        .preview-images{
          position: relative;
          text-align: center;
          margin-top: 45px;
          margin-bottom: -155px;
          z-index: 1;
        }
      }
      .main-buttons{
        display: flex;
        gap: 15px;
        align-items: center;
        margin-top: 30px;
        justify-content: center;
        @media (max-width: 320px) {
          gap: 7px;
        }
        .main-primary,
        .main-secondary{
          font-weight: 500;
          padding: 11px 30px 10px 30px;
          font-size: 18px;
          text-transform: capitalize;
          border-image-slice: 1;
          transition: all .5s ease;
          border-radius: 10px;
          color: white;
          @media (max-width: 320px) {
            font-size: 14px;
          }
          &.border-gradient{
            position: relative;
            border: none;
            border-radius: 10px;
            z-index: 1;
            &::before{
              content: "";
              position: absolute;
              inset: 0;
              border-radius: 12px;
              padding: 2px;
              background: linear-gradient(to right, #54A8FB, #AF76F2);
              -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
              mask-composite: exclude;
              z-index: -1;
            }
          }
          &:hover{
            background: linear-gradient(90deg, #6aa8ff, #9d87ff);
            transition: all 0.7s ease;
            &::before{
              background: none;
            }
          }
        }
      }
      .hero-image{
        .slick-slide{
          transform: scale(1);
          transition: transform 0.3s ease;
          opacity: 0.6;
          img{
            margin-top: 50px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            @media (max-width: 1200px) {
              margin-top: 30px;
            }
            @media (max-width: 320px) {
              border-top-left-radius: 4px;
              border-top-right-radius: 4px;
            }
          }
        }
        .slick-center{
          transform: scale(1.5);
          opacity: 1;
          z-index: 2;
          position: relative;
        }
        .slick-slide{
          transition: transform 0.5s ease, opacity 0.5s ease;
        }
        .slick-list{
          .slick-track{
            padding-top: 80px;
            @media (max-width: 1243px) {
              padding-top: 45px;
            }
          }
        }
        .slick-current{
          + .slick-active{
              transform: scale(1.5);
              opacity: 1;
              z-index: 2;
              position: relative;
          }
        }
      }
      }
    }
    .content{
      margin-top: 120px;
      @media (max-width:375px) {
        margin-top: 75px;
      }
      .content-title{
        text-align: center;
        h1{
          color: variables.$white;
          font-size: calc(24px + (45 - 24) * ((100vw - 320px) / (1920 - 320)));
          font-weight: 800;
          margin-bottom: 9px;
          text-transform: capitalize;
          span{
            background: linear-gradient(90deg, #5aa9ff 0%, #9b7bff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
          }
        }
        p{
          color: variables.$theme-body-sub-title-color;
          font-size: 16px;
          text-transform: capitalize;
          width: 52%;
          margin: auto;
          @media (max-width: 1200px) {
            width: 70%;
          }
          @media (max-width: 768px) {
            width: 85%;
          }
          @media (max-width: 576px) {
            width: 90%;
          }
        }
        .main-button{
          display: flex;
          justify-content: center;
          gap: 15px;
          padding: 26px 0;

          @media (max-width: 320px) {
            gap: 7px;
          }
          @media (max-width:375px) {
            flex-wrap: wrap;
          }
          .main-primary,
          .main-secondary{
            font-weight: 500;
            padding: 11px 30px 10px 30px;
            font-size: 18px;
            text-transform: capitalize;
            border-image-slice: 1;
            transition: all .5s ease;
            border-radius: 10px;
            color: white;
            @media (max-width:767px) {
              padding: 6px 14px;
            }
            @media (max-width: 320px) {
              font-size: 14px;
            }
            &.border-gradient{
              position: relative;
              border: none;
              border-radius: 10px;
              z-index: 1;
              &::before{
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 12px;
                padding: 2px;
                background: linear-gradient(to right, #54A8FB, #AF76F2);
                -webkit-mask:
                  linear-gradient(#fff 0 0) content-box,
                  linear-gradient(#fff 0 0);
                mask-composite: exclude;
                z-index: -1;
              }
            }
            &:hover{
              background: linear-gradient(90deg, #6aa8ff, #9d87ff);
              transition: all 0.7s ease;
              &::before{
                background: none;
              }
            }
          }
        }
      }
      .preview-images{
        position: relative;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 0;
        z-index: 1;
        @media (max-width:767px) {
          display: none;
        }
      }
    }
    .home-card1{
      right: 18%;
      position: absolute;
      bottom: 18%;
      z-index: 1;
      border-radius: 10px;
      animation: up-down 6s infinite;
      @media (max-width:1690px) {
        right: 16%;
      }
      @media (max-width:1599px) {
        right: 13%;
      }
      @media (max-width:1435px) {
        right: 10%;
      }
      @media (max-width:1350px) {
        right: 8%;
      }
      @media (max-width:1240px) {
        right: 4%;
      }
      @media (max-width:991px) {
        display: none;
      }
    }
    .home-card2{
      right: 3%;
      position: absolute;
      top: 32%;
      border-radius: 10px;
      animation: up-down 6s infinite;
      z-index: 1;
      @media (max-width:1730px) {
        right: 2%;
      }
      @media (max-width:1366px) {
        display: none;
      }
    }
    .home-card3{
      top: 28%;
      position: absolute;
      left: 4%;
      border-radius: 10px;
      animation: up-down 6s infinite;
      z-index: 1;
      @media (max-width:1730px) {
        left: 3%;
      }
      @media (max-width:1366px) {
        display: none;
      }
    }
    .home-card4{
      bottom: 6%;
      position: absolute;
      left: 15%;
      z-index: 1;
      animation: up-down 6s infinite;
      @media (max-width:1690px) {
        left: 10%;
      }
      @media (max-width:991px) {
        display: none;
      }
      @media (max-width:1366px) {
        left: 8%;
      }
      @media (max-width:1205px) {
        left: 4%;
      }
    }
  }
  // layout section
  .layout-section {
    background-color: variables.$white;
    .layout-list {
      display: flex;
      justify-content: center;
      margin-bottom: 35px;
      border: none;
      @media (max-width: 480px) {
        margin-bottom: 12px;
      }
      .nav-item {
        .nav-link {
          padding: 14px 25px;
          background-color: rgba(variables.$primary-color, 0.1);
          border-radius: 10px;
          font-weight: 600;
          @media (max-width: 991px) {
            padding: 8px 14px;
          }
          @media (max-width:1135px) {
            padding: 10px 7px;
          }
          &.active {
            background-color: variables.$primary-color;
            color: variables.$white;
          }
        }
        + .nav-item {
          margin-left: 18px;
        }
      }
      li{
        @media (max-width: 480px) {
          margin-bottom: 10px;
        }
      }
    }
    .layout-links {
      .row {
        margin-bottom: -30px;
        > div {
          margin-bottom: 30px;
        }
      }
      .layout-box {
        background-color: variables.$white;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(8, 21, 66, 0.2);
        ul{
          margin-top: 18px;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          img{
            border-radius: 0;
          }
          li{
            border: 1px solid rgba(variables.$primary-color, 0.5);
            border-radius: 10px;
            transition: all 0.4s;
            &:hover {
              background-color: variables.$primary-color;
              a {
                color: variables.$white;
              }
            }
            a{
              padding: 9px;
              display: flex;
              font-weight: 600;
              align-items: center;
            }
            + li{
              margin-left: 12px;
            }
            &:nth-last-child(-n+2){
              margin-top: 10px;
            }
          }
        }
        img {
          transition: all 0.5s ease;
          border-radius: 10px;
        }
        &:hover {
          img {
            transform: scale(1.02);
          }
        }
      }
      .nav-link {
        border-radius: 10px;
        padding: 15px 30px;
        align-items: center;
        background-color: rgba(92, 97, 242, 0.8);
        position: relative;
      }
    }
    .demo-content{
      border-radius: 15px;
      position: relative;
      height: 100%;
      padding: 20px;
      overflow: hidden;
      background: linear-gradient(112.85deg, #EFF7FF 0%, #EFF7FF 377.54%) padding-box, linear-gradient(180deg, #54a8fb80, #54a8fb3b) border-box;
      border: 2px solid rgba(0, 0, 0, 0);
      .demo-img{
        .layout-wrapper{
          .demo-color{
            a{
              img{
                border-radius: 10px;
              }
            }
          }
          h3{
            color: var(--theme-default);
            font-size: 22px;
            font-weight: 600;
            margin-top: 16px;
          }
        }
      }
    }
  }

  // framework section
  .framework-section{
    background-image: url(../images/landing/layout/top.png);
    .title{
      margin-top: -4px;
      a{
        color: white;
        font-size: 32px;
        font-weight: 600;
        line-height: 1;
      }
      p{
        color: #CBD5E1;
        font-size: 18px;
        font-weight: 400;
      }
    }
    .demo-img1{
      justify-content: center;
      .nav-item{
        display: flex;
        align-items: center;
        gap: 13px;
        padding: 12px;
        background: linear-gradient(279.3deg, #1A1F2E 6.45%, #222A3E 93.55%) padding-box, linear-gradient(178deg, rgba(84, 168, 251, 0), rgb(84, 168, 251, 1)) border-box;
        border: 1.9px solid rgba(0, 0, 0, 0);
        border-radius: 12px;
        transition: all 0.3s ease-in-out;


        .frame-img{
          padding: 13px 20px 12px 20px;
          background: #151B2B;
          border-radius: 10px;
          @media (max-width:1530px) {
            padding: 12px;
          }
          @media (max-width:1353px) {
            padding: 10px;
          }
          img{
            height: 48px;
            @media (max-width:1530px) {
              height: 35px;
            }
            @media (max-width:1353px) {
              height: 26px;
            }
          }
        }
        .nav-text{
          font-size: 20px;
          font-weight: 500;
          color: white;
          text-wrap: nowrap;
        }
        &:hover{
          transform: translateY(-10px);
          transition: all 0.3s ease-in-out;
        }
      }
    }
    .frameworks-list{
      text-align: center;
      display: flex;
      justify-content: center;
      gap: 50px;
      flex-wrap: wrap;
      li{
        .box{
          display: flex;
          align-items: center;
          width: 125px;
          height: 108px;
          gap: 14px;
          background: variables.$bg-light-primary;
          border-radius: 5px;
          border-radius: 47% 53% 43% 57% / 36% 45% 55% 64%;
          position: relative;
          cursor: pointer;
          transition: all 0.2s ease;
          &:hover{
            animation: morph 8s ease-in-out infinite;
          }
          @media (max-width: 1199px) {
            width: 100px;
            height: 90px;
          }
          @media (max-width: 767px) {
            width: 85px;
            height: 85px;
          }
        }
        div{
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 6px;
          img{
            height: calc(30px + (45 - 30) * ((100vw - 320px) / (1920 - 320)));
          }
        }
        h4{
          color: variables.$theme-body-font-color;
          margin-top: 10px;
        }
      }
    }
  }

  .application-section{
    .app-box{
      .app-wrapper{
        background-color: #f0f0f5;
        padding: 15px 20px 18px;
        border-radius: 12px;
        background: linear-gradient(112.64deg, #EFF7FF 6.23%, #FAF6FE 131%);
        &:hover{
          img{
            transform: scale(1.02);
            transition: all 0.5s ease-in-out;
          }
        }
      }
      .app-image{
        img{
          border-radius: 6px;
          box-shadow: 0 0 20px 1px rgba(0,0,0,.08);
          width: 100%;
          // margin-top: 15px;
          transition: all 0.5s ease-in-out;
        }
      }
      .app-detail{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12px;
        position: relative;
        height: 100%;
        width: max-content;
        background: linear-gradient(white, white) padding-box, linear-gradient(256.38deg, #EFF7FF -11.22%, #FAF6FE 97.25%) border-box;
        border: 3px solid transparent;
        justify-content: center;
        text-align: center;
        margin-inline: auto;
        border-radius: 12px;
        h6{
          font-weight: 600;
        }
        .btn{
          background: linear-gradient(90deg, #6aa8ff, #9d87ff);
          color: variables.$white;
          font-weight: 500;
          border: none;
          border-radius: 10px;
          padding: 8px;
          font-size: 18px;
        }
      }
    }
  }

  .features-section{
    // background-color: rgba(129, 131, 133, 0.06);
    background-image: url(../images/landing/layout/feature-bg.png);
    .title{
      margin-top: -4px;
      a{
        color: white;
        font-size: 32px;
        font-weight: 600;
        line-height: 1;
      }
      p{
        color: rgba(203, 213, 225, 1);
        font-size: 18px;
        font-weight: 400;
      }
    }
    .feature-box{
      padding: 19px 23px;
      background: linear-gradient(279.3deg, #1A1F2E 6.45%, #222A3E 93.55%);
      display: flex;
      gap: 13px;
      align-items: center;
      border-radius: 12px;
      border-left: 1.5px solid var(--theme-default);
       perspective: 1000px;
      .feature-icon{
        padding: 15px 20px;
        background: rgba(21, 27, 43, 1);
        border-radius: 10px;
        display: inline-block;
        transition: all 0.3s ease-in-out;
        transform-origin: center;
        @media (max-width:1730px) {
          padding: 8px 12px;
        }
        img{
          transform-origin: center;
          transition: transform 0.8s ease-in-out;
          @media (max-width:1730px) {
            height: 40px;
          }
        }
      }

      .feature-details{
        h5{
          font-size: 18px;
          font-weight: 500;
          color: variables.$white;
          @media (max-width:1829px) {
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            display: -webkit-box;
          }
        }
        p{
          color: rgba(203, 213, 225, 1);
          font-size: 14px;
          font-weight: 400;
          margin-top: 8px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
      &:hover{
        .feature-icon{
          background: linear-gradient(94.38deg, #54A8FB 0.03%, #AF76F2 171.79%);
          transition: all 0.3s ease-in-out;
          img{
            transform: rotateY(180deg);
          }
        }

      }
    }
  }
  .license-support{
    .image-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        animation: float 4s ease-in-out infinite;
      }
    }
    .support-wrapper{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding: 12px;
      text-align: left;
      .title{
        margin-bottom: 10px;
      }
      .license-wrapper{
        background: linear-gradient(90deg, #eaf3ff 0%, #fbfcff 100%);
        border-radius: 12px;
        padding: 12px 139px 12px 14px;
        @media (max-width:650px) {
          padding: 12px 80px 12px 14px;
        }
        h2{
          font-size: 22px;
          font-weight: 700;
          margin-bottom: 0;
          background: linear-gradient(90deg, #5aa9ff 0%, #9b7bff 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          color: transparent;
        }
      }
      h3{
        font-size: calc(20px + (44 - 20) * ((100vw - 320px) / (1920 - 320)));
        padding-top: 6px;
        font-weight: 700;
        padding-bottom: 10px;
        text-transform: capitalize;
        color: rgba(51, 51, 51, 1);
      }
      .description{
        margin-bottom: 40px;
        color: variables.$theme-body-sub-title-color;
        font-size: 16px;
        letter-spacing: 0.7px;
        @media (max-width: 1240px) and (min-width: 320px) {
          margin-bottom: 16px;
        }
        @media (max-width: 991px) and (min-width: 320px) {
          text-overflow: ellipsis;
          height: 47px;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          display: -webkit-box;
        }
      }
      .link-text{
        color: variables.$white;
        padding: 10px 30px;
        background: linear-gradient(90deg, #54A8FB 0%, #AF76F2 155.39%);
        font-size: 20px;
        font-weight: 500;
        border-radius: 12px;
        @media (max-width:730px) {
          padding: 6px 25px;
          font-size: 16px;
        }
      }
    }
  }

  // footer section
  .landing-footer {
    background-image: url(../images/landing/layout/footer.png);
    .footer-contain {
      text-align: center;
      img {
        margin-bottom: 5px;
      }
      h2 {
        font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 600;
        color: rgba(255, 255, 255, 1);
        margin-block: 20px;
        line-height: 1.4;
      }
      .star-rate {
        margin-bottom: 40px;
        li {
          display: inline-block;
          i {
            font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (1920 - 320)));
          }
        }
      }
      .btn-footer {
        a {
          &:nth-child(n + 2) {
            margin-left: 10px;
          }
        }
        .footer-btn{
          padding: 10px 30px;
          border-radius: 12px;
          position: relative;
          z-index: 1;
          color: variables.$white;
          font-size: 18px;
          font-weight: 500;
          &::before{
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 12px;
            padding: 2px;
            background: linear-gradient(to right, #54A8FB, #AF76F2);
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask-composite: exclude;
            z-index: -1;
          }
          &:hover{
            background: linear-gradient(90deg, #54A8FB 0%, #AF76F2 155.39%);
            &::before{
              background: none;
            }
          }
          &.border-gradient{
            position: relative;
            border: none;
            border-radius: 10px;
            z-index: 1;
          }
        }
        @media (max-width:539px) {
          flex-wrap: wrap;
          display: flex;
          justify-content: center;
          gap: 15px;
        }
      }
    }
    .custom-container{
      @media (max-width: 575px) {
        padding-inline: 15px;
      }
    }
  }
}
@media (max-width: 991px) {
  .landing-page{
    .landing-header{
      ul{
        &.landing-menu{
          position: fixed;
          top: 0;
          right: -320px;
          display: block;
          width: 300px;
          height: 100vh;
          z-index: 1;
          background-color: variables.$white;
          transition: all 0.5s ease;
          li{
            &.nav-item{
              a{
                &.nav-link{
                  color: variables.$theme-body-font-color;
                  padding: 10px 20px;
                }
              }
              &.menu-back{
                display: block;
              }
            }
          }
          &.open{
            right: 0;
          }
        }
      }
      .buy-block{
        .toggle-menu{
          display: block;
        }
      }
    }
  }
}
@media (max-width:767px) {
  .landing-page{
    .landing-header{
      position: relative;
      background-color: variables.$theme-body-font-color;
    }
  }
}
@media (max-width: 480px) {
  .landing-page{
    .landing-header{
      .buy-block{
        .toggle-menu{
          margin-left: 10px;
        }
      }
    }
  }
}
@media (max-width: 360px) {
  .landing-page{
    .landing-header{
      padding: 6px 8px;
    }
  }
}

@keyframes float {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes upDown {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-30px);
  }
  100%{
    transform: translateY(0px);
  }
}
@keyframes loading-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes animateWave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20px);
  }
}
@keyframes morph {
  0%{
    border-radius: 50%;
  }
  5%{
    border-radius: 50% 54% 57% 43%/40% 30% 30% 50%;
  }
  10%{
    border-radius: 53% 47% 63% 69%/60% 30% 70% 40%;
  }
  15%{
    border-radius: 55% 45% 67% 33%/77% 48% 52% 23%;
  }
  20%{
    border-radius: 41% 39% 68% 62%/72% 48% 52% 28%;
  }
  25%{
    border-radius: 61% 40% 58% 32%/33% 56% 44% 67%;
  }
  30%{
    border-radius: 41% 59% 35% 55%/63% 36% 64% 37%;
  }
  35%{
    border-radius: 61% 33% 57% 55%/61% 59% 41% 39%;
  }
  40%{
    border-radius: 55% 45% 67% 43%/63% 36% 64% 37%;
  }
  45%{
    border-radius: 51% 65% 30% 33%/31% 74% 26% 69%;
  }
  50%{
    border-radius: 40% 66% 32% 68%/77% 48% 52% 23%;
  }
  55%{
    border-radius: 44% 30% 52% 70%/61% 59% 41% 39%;
  }
  60%{
    border-radius: 46% 54% 38% 52%/33% 56% 44% 67%;
  }
  65%{
    border-radius: 66% 34% 58% 50%/63% 36% 64% 37%;
  }
  70%{
    border-radius: 40% 51% 60% 40%/31% 74% 26% 69%;
  }
  75%{
    border-radius: 44% 66% 49% 44%/33% 56% 44% 67%;
  }
  80%{
    border-radius: 50% 30% 55% 65%/77% 48% 52% 23%;
  }
  85%{
    border-radius: 60% 70% 41% 50%/31% 74% 26% 69%;
  }
  90%{
    border-radius: 55% 59% 50% 45%/61% 59% 41% 39%;
  }
  95%{
    border-radius: 50% 54% 57% 43%;
  }
  100%{
    border-radius: 50%;
  }
}
@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
// /**=====================
//     3.39 Landing CSS Ends
// ==========================**/